body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  background: url(/img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;
}

.list {
  background-color: var(--salmon);
  border-radius: 0.313rem;
  color: var(--white); 
  padding: 0.938rem;
  width: 20rem;
} 

@media (min-width: 768px) {
  .list {
    width: 30rem;
  }
}

.list__title {
  font-size: var(--title);
}

.list__item {
  font-size: var(--text);
  margin-top: 1.25rem;
}

.list__checkbox {
  accent-color: var(--light-purple);
}

.list__form {
  display: flex;
  gap: 0.313rem;
  margin-top: 1.25rem;
}

.list__input {
  border: none;
  padding: 0.625rem;
  flex: 2;
}

.list__button {
  align-items: center;
  background-color: var(--white);
  border: none;
  color: var(--salmon);
  cursor: pointer;
  display: flex;
  font-family: var(--primary-font);
  font-size: var(--text-botton);
  font-weight: var(--bold);
  height: 2.188rem;
  justify-content: center;
  padding: 0.313rem;
  text-transform: uppercase;
  transition: 0.3s;
  width: 2.75rem;
}

.list__items {
  background-color: #b458586f;
  border: 0.5px solid white;
  font-size: var(--text);
  margin: 10px 0;
  padding: 10px;
}

.list__button:hover {
  background-color: var(--light-purple);
  color: var(--white);
}

