:root {
  --primary-font: "Hind Siliguri";
  --text: 1.125rem;
  --title: 1.75rem;
  --text-presentation: 1.375rem;
  --light: 300;
  --medium: 400;
  --bold: 700;
  --salmon:#FF6666;
  --white: #fff;
  --light-green: #09EDDE;
  --light-purple: #ad5ef1;
}
